{ ... }:
{
  profiles.kotlin.enable = true;

  profiles.agentProxy.allowedExactUrls = [
    "https://example.com/myfile"
  ];

  home-manager.users.braden.agentDispatch.envs = {
    # Example: pass custom env into the agent bubblewrap container.
    FOO = "bar";
  };
}
